body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 600px;
  margin-top: 10px;
  margin-left: 10px;
}

#main {
  float: left;
  width: 850px;
}

.error {
  color:red;
}
